@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0px;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 90px;
    height: 80px;
}

.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

/* -------------------------------nav end------------- */
/* ----------------------------------body start ------------ */
.container2 {
    /* position: absolute; */
    display: flex;
    margin-top: 140px;
}

.ads {
    width: 19%;
    position: relative;
}

.main_golpo {
    width: 50%;
    position: relative;
    margin-right: 3%;
    margin-left: 3%;

}

.ads2 {
    width: 25%;
    position: relative;

}

.card {
    width: 100%;
    box-shadow: 1px 1px 4px 4px rgb(12, 11, 9);
    border-radius: 3.5px 3.55px 3px 3px;
    background-color: #7bdcb5;
    margin-bottom: 5px;
}

/* ----------------------------------body end ------------ */
/* ---------------------------------footer start---------------- */
.footer {
    background-color: #181919;
    width: 100%;
    display: flex;
}

.left-footer {
    width: 30%;
}

.right-footer {
    width: 60%;
}

.left-footer p {
    margin-top: 30px;
    text-align: center;
}

.left-footer .sub-title {
    text-align: center;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}

.social-icons :hover {
    color: #ff004f;
}


form input,
form textarea {
    width: 100%;
    border: 2px;
    background: #f9f9f9;
    padding: 15px;
    margin: 15px 0;
    color: #420404;
    font-size: 12px;
    border-radius: 6px;
}

form .btn {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sub-title {
    color: #2294ed;
}

.footer p {
    color: #2294ed;
}

/* ------------------------------------footer end-------------------- */